<h1> Welcome to Tamagotchi! </h1>

<form action='/status' method='post'>
  <div class='form-group'>
    <label for='tama_name'> Please enter your Tamagotchi's name: </label>
    <input id='tama_name' name='tama_name' type='text'>
  </div>
  <button class='btn btn-success' id='start' type='submit'> Start </button>
</form>
